body {
  margin: 0;
  padding: 0;
  background: #ccc;
  font-family: 'Oswald', sans-serif;
  font-size: 16px;

}

.container {
	padding: 50px;
	background-color: gray;
	width: 40%;
	margin-top: 5px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	border: 1px solid gray;
	border-radius: 10px;
	box-shadow: 0 10px 10px 0 darkgray;

}
small a {
  color: black;
}


/*navigation styles*/
/*.navbar {
  position: fixed;
}*/
ul {
	font-size: 18px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
    position: sticky;
}

li {
    float: left;
}

li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #ddd;
}

li a.active {
    /*color: white;*/
    background-color: #ddd;
}
.header {
  margin-bottom: 25px;
}


/*form styles*/

form {
	padding: 20px;
}

.form-control {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    line-height: 20px;
    font-size: 15px;
}

.button {
    font-size: 16px;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 120px;
    border-radius: 5px;
    text-decoration: none;
}

.button:hover {
    opacity: 0.8;
}

.form-container {
    padding: 16px;
}

.button-success {
  background-color: green;
}

.button-primary {
  background-color: blue;
}
.button-danger {
  background-color: red;
 }
 .button-default{
    background-color: #007bff;
    border-color: #007bff;
}

.button-small {
  color: white;
  padding: 5px 20px;
  margin-top: 2px;
  margin-right: 5px;
  border: none;
  cursor: pointer;
  width: 90px;
  border-radius: 5px;
}

.button-small:hover {
    opacity: 0.6;
}

.left-align {
  display: inline;
  margin-right: 30px;
}
.link-btn {
  font-size: 16px;
  color: white;
  padding: 10px 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 0;
  border: none;
  cursor: pointer;
  width: 120px;
  border-radius: 5px;
  text-decoration: none;
}
.link-btn:hover {
  opacity: 0.8;
}

a {
  text-decoration: none;
}
.home {
  background-size: cover;
  background-color: gray;
  opacity: 0.9;
  height: 70vh;
  margin: 0;
  padding-top: 100px;
}
.centerh {
  text-align: center;
  font-size: 40px;
}
.centerp {
  text-align: center;
  font-size: 20px;
}

footer {
  background-color: #f3f3f3;
  opacity: 0.8;
  width: 96%;
  margin: auto;
  border-radius: 5px;
}
 footer p {
   padding: 4px;
   text-align: center;
   color: black;
   font-size: 14px;

 }

 /* Flaot Links to Right */
 .float-links-right {
  float: right;
 }

/*food cards*/
.main-container{
        width: 80%;
        margin-top: 5px;
        margin-left: auto;
        margin-right: auto;
        /*text-align: center;*/
      }


      .card {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        border-radius: 10px;
        transition: 0.3s;
        width: 20%;
        background-color: gray;
        padding: 5px;
        text-align: center;
        display: inline-block;
        margin: 20px;
      }

      .card:hover {
          box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

      }

      .myContainer {
          padding: 2px 16px;
          
      }
       .image {
        border-radius: 40px;
       }